.section {
  display: flex;
  justify-content: space-between;
  padding: 112px 75px;
  max-width: 1280px;
  color: #ffffff;
}

.section_adopt {
  background: #0050b6;
}

.section_donate {
  background: #fa7970;
}

.section_sponsor {
  background: #daf3ff;
  color: #000000;
}

.section__items {
  max-width: 480px;
  text-align: left;
}

.section__title {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 71px;
  margin: 0;
}

.section__text {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  margin: 18px 0px 31px;
}

.section__button {
  max-width: 226px;
  width: 100%;
  min-height: 78px;
  background: #fa7970;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  transition: opacity linear 0.3s;
}

.section__button_white {
  color: #fa7970;
  background: #ffffff;
}

.section__button:hover {
  opacity: 0.8;
}

.section__image-container {
  max-width: 450px;
}

.section__image {
  width: 100%;
}

@media screen and (max-width: 840px) {
  .section {
    flex-direction: column;
  }

  .section__items {
    margin: 0 auto;
  }

  .section__image-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .section__title {
    font-size: 32px;
    line-height: 46px;
  }

  .section__text {
    font-size: 25px;
    line-height: 31px;
  }

  .section__button {
    font-size: 28px;
    line-height: 45px;
  }
}
