.login {
  max-width: 428px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: 100%;
  margin: 0;
}

.login__title {
  font-family: var(--form-text);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  position: relative;
  z-index: 1;
}

.login__title-decoration {
  margin-top: -18px;
  position: relative;
}

.login__label {
  font-family: var(--form-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 6px;
}

.login__input {
  background-color: var(--light-blue);
  border-radius: 40px;
  min-height: 52px;
  margin-bottom: 18px;
  padding: 0px 20px;
}

.login__submit {
  border-radius: 40px;
  padding: 20px 40px;
  background-color: var(--pink);
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login__text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--grey);
}

.login__link {
  color: var(--black);
}
