.shelter-card {
  border-radius: 20px;
  max-width: 234px;
  width: 100%;
  min-height: 210px;
  padding: 0px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.card__shelter-image {
  max-width: 160px;
  max-height: 160px;
  object-fit: cover;
  border-radius: 20px;
}