.adopt {
  padding: 0px 75px 100px;
  max-width: 1280px;
}

.adopt__title {
  text-align: center;
}

.results {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}

.adopt__search{
  text-align: center;
}

.adopt__input {
  margin-left: 12px;
  max-width: 240px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .adopt{
    padding: 0px 12px 50px;
  }
}