.adopt {
  padding: 0px 75px 100px;
  max-width: 1280px;
}

.adopt__title {
  text-align: center;
}

.results {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}
