*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0px;
}

body{
    /* background-color: rgb(227, 229, 230); */
    font-family: 'Lexend Deca', sans-serif;
    padding: 0 5vw;
}

/* .completed{
    text-decoration: line-through;
    color: gray;
} */

/* .not{
    text-decoration: underline;
} */


/* Added rule to align todo items up top */
td{
    vertical-align: text-top;
}


.input-buttons,.statusDropdown{
    background-color: rgba(52, 113, 246,0.7);
    font-family: 'Lexend Deca', sans-serif;
    height: 30px;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 1vw;
    border-radius: 5px;
    /* border: 1px solid black; */
    padding: 5px;
    cursor: pointer;
    color: white;
}

#todo-input{
    width: 50%;
    border: solid 1px rgb(52, 113, 246);
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
}

#welcome{
    /* border: solid red 1px; */
    /* width: 50vw; */
    margin: 3vw 0 3vw 1vw;
    font-size: 3vw;
    color: rgb(52, 113, 246);
}

.table-content{
    padding: 3vh;
    width: 50vw;
    /* display: flex; */
    /* border: solid 2px rgba(52, 113, 246, 0.5); */
    /* border-radius: 10px; */
}

span  {
    padding: 2vh;
}

/*.team-assigned span {
    padding: 2vh;
} */

.table-titles{
    font-size: 30px;
}

#logout-button{
    /* background-color: rgba(52, 113, 246,0.7); */
    /* height: 30px; */
    font-weight: bolder;
    font-size: 1.25vw;
    border-radius: 5px;
    border: 1px solid rgb(52, 113, 246);
    padding: 5px;
    cursor: pointer;
    margin-right: 2vw;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#delete-button{
    cursor: pointer;
}

#whos-todo{
    font-weight: bolder;
    font-size: 1.5vw;
}

/* .testt{
    border: solid 1px red;
} */

.todoItem{
    display: flex;
    border: solid 1px rgba(52, 113, 246,0.7);
    min-height: 10vh;
    font-size: 4vh;
    align-content: center;
    background-color: rgba(184, 218, 237,0.5);
    font-size: 1rem;
    border-radius: 5px;
}
li{
    justify-content: space-around;
    padding-top: 3vh;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 2vw;
    padding-bottom: 5vh;
}

