.header{
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

.header__button {
  display: none;
  background-image: url(../../images/menu.png);
  height: 48px;
  width: 67px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:640px){
  .header__button{
    display: block;
  }
}